language: android

matrix:
  include:
    - dist: trusty
      jdk: oraclejdk8

env:
  - BAZEL_VERSION=0.21.0

install:
  # Install Bazel
  - wget -O install.sh "https://github.com/bazelbuild/bazel/releases/download/${BAZEL_VERSION}/bazel-${BAZEL_VERSION}-installer-linux-x86_64.sh"
  - chmod +x install.sh
  - ./install.sh --user
  - rm -f install.sh
  # Download SDK
  - yes | sdkmanager "tools" &>/dev/null
  - yes | sdkmanager "platform-tools" &>/dev/null
  - yes | sdkmanager "platforms;android-28" &>/dev/null
  - yes | sdkmanager "build-tools;28.0.3" &>/dev/null
  # Update remaining dependencies and accept licenses
  - yes | sdkmanager --update &>/dev/null
  - yes | sdkmanager --licenses &>/dev/null

script:
  - bazel test //... --disk_cache=$HOME/.cache/bazel_disk_cache --show_progress_rate_limit=5 --test_output=errors

cache:
  directories:
    - $HOME/.cache/bazel_disk_cache
    - $HOME/.cache/coursier

branches:
  except:
    - gh-pages

sudo: false
